logs/
npm-debug.log
node_modules/
coverage/
typings/
.idea/
run/
.DS_Store
*.swp
*.log
.git/
tools/
.autod.conf.js
.dockerignore
.eslintignore
.eslintrc
.gitignore
.sequelizerc
jsconfig.json
Dockerfile


